
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
<div style="display: flex; justify-content: center;">
    <img src="/img/img_error_tp37.jpg" alt="" style="width: 50%; height: 50%;">
  </div>
    
    

    <div class="div_button"> 
        <a href="/"><button>Home</button></a>
        <p style="font-style: italic;">Go to Home...</p>
    </div>

  </body>
</html>