<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House"></a>
    </figure>
    <h1><%= title %></h1>
    <h3>Bienvenidos a <%= title %></p>
    <section>
    <ul>
      <li>
        <a href="/movies">
          <p>Peliculas</p>
        </a>
        <a href="/movies/new">
          <p>Peliculas por año de lanzamiento</p>
        </a>
        <a href="/movies/recommended">
          <p>Top 5 mejores Peliculas</p>
        </a>
        <a href="/genres">
          <p>Generos</p>
        </a>
        <a href="/actors">
          <p>Actores</p>
        </a>
        <a href="/actors/recommended">
          <p>Rating de Actores</p>
        </a>
      </li>
    </ul>
  </section>
  </body>
</html>
