    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Películas</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
    <figure>
        <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House"></a>
    </figure>
    <div class="div_titulo">
        <h1>LISTADO DE PELÍCULAS</h1>
    </div> <br>
    <a href="/movies/add" style="color: red; font-style: normal; text-decoration: underline;"><h2>+ Add New Movies</h2></a> <br>
    <ul>
        <% for( let i = 0; i < movies.length; i++ ) { %>
        <li style="width: 40%;">
            <a href="/movies/detail/<%= movies[i].id %>"><p><%= movies[i].title %></p></a>
        </li>
        <% } %>
    </ul>
    <div class="div_button">
        <a href="/movies/add"><button>Create</button></a>
        <a href="/movies"><button>Top</button></a>
        <a href="/"><button>Home</button></a>
    </div>
</body>

</html>